:root{
  --primary: #b6895b;
  --bg : #010101;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'poppins' , sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba( 1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem; 
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/asset/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero ::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 30% , rgba(225, 225, 255, 0)  100%);
}

/* about section */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/asset/background6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about ::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3% , rgba(225, 225, 255, 0)  25%);
}
.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.about .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.about .content h1 span {
  color: var(--primary);
}

.about .content svg{
  width: 100%;
  position: relative;
  top: 50px;
  left: 20%;
  line-height: 2.5;
  transform: translate(-50%, -50%);
}
.about .content svg text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 4.5rem;
  stroke-width: 5px;
  fill: transparent;
  animation: anim 4.5s infinite alternate;
}
.about .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

@keyframes anim {
  from {
    stroke-dasharray: 0 70%;
  }
  to {
    stroke-dasharray: 10% 0;
    stroke-dashoffset: 0;
  }
  30% {
    stroke: #fffffd;
  }
  65% {
    stroke: #ffaf63;
  }
  100% {
    stroke: var(--primary);
  }
}
.about .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rbga(1, 1, 3, 0.5);
  
}

/* menu section */
.menu {
  padding: 8rem 7% 1.4rem;
  background-image: url(/asset/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.menu h2 ,
.contact h2{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.menu .menu-card-title {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}
.menu h2 span ,
.contact h2 span {
  color: var(--primary);
}
.menu p ,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin:auto;
  font-size: 1.2rem;
  text-align: 1.6;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
  
}
.menu .cols {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}
.menu .cols .menu-card {
  text-align: center;
  padding: 1rem;
}
.menu .cols .menu-card img {
  border-radius: 50%;
  height: 45%;
  width: 25%;
}
.menu .cols .menu-card .menu-card-title {
  margin: 1.5rem auto 0.5rem;
}

/* contact section */
.contact {
  padding: 8rem 7% 1.4rem;
}
.contact .cols {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}
.contact .cols .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .cols form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .cols form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border:  1px solid #eee;
  padding-left: 2rem;
}
.contact .cols form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}
.contact .cols form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 2%;
}


/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0.3rem;
  margin-top: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: #fff;
  margin: 1rem;
}
footer .social a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4rem;
}
footer .links a:hover {
  color: var(--bg);
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 600;
} 

/* Media Queris */

/* Laptop */
@media (max-width:1366px){
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width:758px){
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0; 
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .menu p  {
      text-align: center;
      max-width: 30rem;
      margin:auto;
      font-size: 1.2rem;
      text-align: 1.6;
  }
  .contact .cols {
    flex-wrap: wrap;
  }
  .contact .cols .map {
    height: 30rem;
  }
  .contact .cols form {
    padding-top: 0;
  }
}

/* Mobile phoone */
@media (max-width:450px){
  html {
    font-size: 55%;
  }
}
